// Mixins in here

// Is there a similar concept as JS scope in LESS?

.button-style (@width, @height) {
  width: @width;
  height: @height;
  background-color: @button-bg;
  border-radius: 8px;
  text-align: center;
//  vertical-align: middle;
  padding: 15px;
  color: white;
  font-size: 1.8em;
  font-weight: 600;
  @media @mobile {
    background-color: @mobile-button-bg;
  }
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-35px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.animate-bounce (@duration:2s, @bounces:infinite) {
//        align-self: flex-end;
        animation-duration: @duration;
        animation-iteration-count: @bounces;
//        height: 200px;
//        margin: 0 auto 0 auto;
//        transform-origin: bottom;
//        width: 200px;

        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}